<!DOCTYPE html>
<html>
	<head>
			<title>Home</title>
		    <meta charset="utf-8">	
		    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
		    <meta name="google" content="noprerender">
			<link rel="stylesheet" type="text/css" href="../../css/estilo.css">
			<link rel="stylesheet" type="text/css" href="../../css/grid.css">
			<link rel="shortcut icon" href="../imagens/favicon.ico" type="image/x-icon">			    
	</head>
		<header>
			<div class="barra_do_reader">	
				<!--LOGO INÍCIO-->					
				<div class="logo_center">
						<img src="../../imagens/templates/demo_1/logo_eduardus.png" alt="Restaurante" title="Restaurante" class="logo_site">
				</div>	
			</div>	
				<!--LOGO FIM-->	
				<!--MENU SUPERIOR INÍCIO-->	
			<div class="some_menu_superior">	
				<nav class="menu">
					<ul>

					
						<li><a href="#nossa_historia">Nossa História</a></li>
						<li><a href="#valores">Nossos Valores</a></li>
						<li><a href="#instalacoes">Instalações</a></li>
						<li><a href="#especialidades">Especialidades</a></li>
						<li><a href="#horario">Horário</a></li>
						<li><a href="#endereco">Endereço</a></li>
						<li><a href="cardapioeduardus.html">Acesse nosso cardápio</a></li>						
							
					</ul>
				</nav>	
			</div>
				<!--MENU SUPERIOR FIM-->
		</header>
		<body class="body_site">
			
				<div class="hamburger1 hamburgerMenu1 clear aparece-menu_hamburger">				
					  <a href="#1"><img src="../../imagens/templates/demo_1/btn_menu.png"></a>				
			    </div>
	       		<!--INÍCIO DO CARROSSEL-->
			    <section class="slider">
			    	<div class="slider-content">

			    		<input type="radio" name="btn_radio" id="radio_1">
			    		<input type="radio" name="btn_radio" id="radio_2">
			    		<input type="radio" name="btn_radio" id="radio_3">
			    		<input type="radio" name="btn_radio" id="radio_4">

			    		<div class="slide-box primeiro">
			    			<img class="img_desktop" src="../../imagens/templates/demo_1/carrossel_1.png">
			    			<img class="img_disp_movel" src="../../imagens/templates/demo_1/banner_1.png">
			    		</div>

			    		<div class="slide-box">
			    			<img class="img_desktop" src="../../imagens/templates/demo_1/carrossel_2.png">
			    			<img class="img_disp_movel" src="../../imagens/templates/demo_1/banner_2.png">
			    		</div>

			    		<div class="slide-box">
			    			<img class="img_desktop" src="../../imagens/templates/demo_1/carrossel_3.png">
			    			<img class="img_disp_movel" src="../../imagens/templates/demo_1/banner_3.png">
			    		</div>

			    		<div class="slide-box">
			    			<div class="slide-box_1">
			    			<img class="img_desktop" src="../../imagens/templates/demo_1/carrossel_4.png">
			    			<img class="img_disp_movel" src="../../imagens/templates/demo_1/banner_4.png">
			    		</div>
			    		</div>

			    		<div class="nav-auto">
			    			<div class="auto-btn_1"></div>
			    			<div class="auto-btn_2"></div>
			    			<div class="auto-btn_3"></div>
			    			<div class="auto-btn_4"></div>
			    		</div>
			    		<div class="nav-manual">
			    			<label for="radio_1" class="nanual-btn"></label>
			    			<label for="radio_2" class="nanual-btn"></label>
			    			<label for="radio_3" class="nanual-btn"></label>
			    		    <label for="radio_4" class="nanual-btn"></label>		    			
			    		</div>
			    	</div>		    	
			    </section>
			<!--FIM DO CARROSSEL-->
			<!--INÍCIO DO MENU RETRATIL LATERAL-->
				<nav id="menuSm-1">
					<div class="aparece">
						<ul>
							<li><a id="cabecalho">MENU</a></li>
							<li><a href="cardapioeduardus.html">Cardápio</a></li>	
							<li><a href="#nossa_historia">Nossa História</a></li>
							<li><a href="#valores">Nossos Valores</a></li>
							<li><a href="#instalacoes">Instalações</a></li>
							<li><a href="#especialidades">Especialidades</a></li>
							<li><a href="#horario">Horário</a></li>
							<li><a href="#endereco">Endereço</a></li>
						</ul>
					</div>
				</nav>
				<!--FIM DO MENU RETRATIL LATERAL-->
				<!--ÍNICIO DOS ICONES-->
					<div class="logo_icones_posicao fundo_dos_icones">
						<div class="col-12">

							<a href="#">
								<div class="logo_icon_superior">
									<img src="../../imagens/templates/demo_1/facebook.png" alt="Facebook" title="Facebook">
								</div>
							</a>
							<a href="#">
								<div class=" logo_icon_superior">
									<img src="../../imagens/templates/demo_1/whatsapp.png" alt="whatsapp" title="whatsapp">
								</div>
							</a>
							<a href="#">
								<div class="logo_icon_superior">
									<img src="../../imagens/templates/demo_1/instagran.png" alt="Imstagran" title="instagran">
								</div>
							</a>


							<a href="cardapioeduardus.html"> 
								<div class="acessar_cardapio">
									<img src="../../imagens/templates/demo_1/acessar_cardapio.png" alt="cardápio" title="cardápio">
								</div>
							</a>






						</div>
					</div>
					<!--Ler_1 INÍCIO-->				
					<div class="corpo_do_texto" id="nossa_historia">
						<div class="titulo_de_ler"> Nossa História</div>			
						<span id="pontos_1"></span>
						<span id="maiss_1">							
								Inaugurado na década de 1970, o "Restaurante Eduardo" começou sua trajetória como um pequeno e acolhedor estabelecimento especializado em grelhados. Fundado por Eduardo Poester, o restaurante logo conquistou a preferência dos moradores locais e se tornou um ponto de encontro para famílias e amigos, oferecendo pratos deliciosos preparados com ingredientes frescos e selecionados.

								Ao longo das décadas, o Restaurante Eduardo passou por várias transformações, sempre mantendo o compromisso com a qualidade e o sabor que marcaram sua história. Em 2014, já na terceira geração da família Poester, o restaurante passou por uma grande reforma. As instalações foram ampliadas e modernizadas, trazendo um ambiente mais confortável e aconchegante para seus clientes.

								Além das melhorias no espaço físico, a forma de atendimento também foi aprimorada, visando proporcionar uma experiência gastronômica ainda mais agradável e personalizada. Com a modernização, o restaurante também passou a adotar novas tecnologias e processos que garantem a eficiência no atendimento e a satisfação dos clientes.

								Para marcar essa nova fase, o restaurante foi rebatizado como "Eduardu´s Gastrobar". Hoje, o Eduardu´s continua a ser referência em grelhados, mas também ampliou seu cardápio para incluir uma variedade de pratos que agradam a todos os paladares, sempre com o mesmo cuidado e atenção aos detalhes que são nossa marca registrada.<br>

								O Eduardu's Gastrobar é um lugar onde a tradição se encontra com a inovação, oferecendo uma experiência única para todos os nossos clientes. <br>Venha nos visitar e faça parte da nossa história!<br>
						</span>		
						 	
	                     <button onclick="leiaMais_1()" id="btnLeiaMais_1" class="botao_ler_mais">Ler</button>
	                 </div>
	                <!--Ler_1 FIM-->

	 
	                <div class="galeria_eduardus_gastrobar_2">
	 				<img src="../../imagens/templates/demo_1/img_1.png"></a>		
	 			    </div>


	   
	                <!--Ler_2 INÍCIO-->				
					<div class="corpo_do_texto" id="valores">
						<div class="titulo_de_ler">Missão, visão e Valores</div>			
						<span id="pontos_2"></span>
						<span id="maiss_2">							
								<div class="texto_1">Missão</div>
								Proporcionar uma experiência gastronômica única e memorável, combinando a tradição dos nossos grelhados com inovações culinárias, em um ambiente acolhedor e moderno, sempre com um atendimento de excelência.

							<div class="texto_1">Visão</div>
								Ser reconhecido como um dos melhores gastrobares da região, destacando-se pela qualidade dos nossos pratos, pela inovação constante e pelo compromisso com a satisfação dos nossos clientes, mantendo viva a tradição familiar.

							<div class="texto_1">Valores</div>
								<div class="texto_2">Qualidade:</div> Utilizamos ingredientes frescos e selecionados, garantindo pratos saborosos e de alta qualidade.

								<div class="texto_2">Tradição:</div>
								Honramos nossas raízes e a história do restaurante, mantendo viva a essência que nos trouxe até aqui.

								<div class="texto_2">Inovação:</div>
								Buscamos constantemente novas tendências e técnicas para aprimorar nossa culinária e atendimento.

								<div class="texto_2">Excelência no Atendimento:</div>
								Oferecemos um serviço personalizado e atencioso, visando sempre a satisfação dos nossos clientes.

								<div class="texto_2">Compromisso com a Comunidade:</div>
									Valorizamos a relação com a comunidade local, promovendo um ambiente inclusivo e acolhedor.

								<div class="texto_2">Sustentabilidade:</div>
								Adotamos práticas que respeitam o meio ambiente e promovem a sustentabilidade em todas as nossas operações				
						</span>							 	
	                     <button onclick="leiaMais_2()" id="btnLeiaMais_2" class="botao_ler_mais">Ler</button>
	                 </div>
	                <!--Ler_2 FIM-->

	                <div class="galeria_eduardus_gastrobar_2">
	 				<img src="../../imagens/templates/demo_1/img_2.png"></a>		
	 			    </div>

	                <!--Ler_3 INÍCIO-->				
					<div class="corpo_do_texto" id="instalacoes">
						<div class="titulo_de_ler">Instalações</div>			
						<span id="pontos_3"></span>
						<span id="maiss_3">							
							Acreditamos que uma experiência gastronômica de excelência vai além dos pratos servidos, ela começa no momento em que você entra no nosso restaurante. É por isso que dedicamos uma atenção especial ao nosso ambiente, criando um espaço que combina modernidade e aconchego de maneira harmoniosa.

							Nosso ambiente moderno reflete um design contemporâneo, com linhas clean e elegantes, utilizando materiais de alta qualidade que conferem sofisticação e estilo ao espaço. A iluminação cuidadosamente planejada cria uma atmosfera acolhedora, destacando cada detalhe do nosso décor. As mesas são dispostas de forma a proporcionar conforto e privacidade, permitindo que você aproveite sua refeição em um espaço tranquilo e agradável.
							Para garantir um ambiente verdadeiramente aconchegante, adicionamos toques que remetem à nossa história e tradição. Elementos de madeira, plantas naturais e uma paleta de cores quentes ajudam a criar uma sensação de conforto e bem-estar, convidando você a relaxar e desfrutar de cada momento. Nosso espaço é pensado para ser inclusivo e acolhedor, perfeito para encontros familiares, jantares românticos ou celebrações com amigos.
							Além disso, temos áreas específicas para diferentes ocasiões, incluindo um bar moderno e bem equipado, onde você pode experimentar nossas bebidas exclusivas enquanto aguarda sua mesa, e um lounge confortável para momentos de descontração.

							No Eduardu's Gastrobar, cada detalhe do nosso ambiente é cuidadosamente planejado para proporcionar a você uma experiência completa, onde a modernidade encontra o aconchego, tornando cada visita única e especial. Venha nos visitar e sinta-se em casa!	
						</span>							 	
	                     <button onclick="leiaMais_3()" id="btnLeiaMais_3" class="botao_ler_mais">Ler</button>
	                 </div>
	                <!--Ler_3 FIM-->


	                <div class="galeria_eduardus_gastrobar_2">
	 				<img src="../../imagens/templates/demo_1/img_3.png"></a>		
	 			    </div>

	                <!--Ler_4 INÍCIO-->				
					<div class="corpo_do_texto" id="especialidades">
						<div class="titulo_de_ler">Especialidades</div>			
						<span id="pontos_4"></span>
						<span id="maiss_4">							
							Grelhados é o coração do nosso cardápio, mas nossas especialidades vão muito além disso, oferecendo uma variedade de pratos que agradam a todos os paladares.

							Grelhados
							Desde a nossa fundação na década de 1970 como "Restaurante Eduardo", a especialidade em grelhados sempre foi a nossa marca registrada. Utilizamos técnicas tradicionais combinadas com toques modernos para preparar cortes de carne suculentos, peixes frescos e vegetais saborosos, tudo grelhado à perfeição. Nossos grelhados são marinados com especiarias e temperos exclusivos, garantindo um sabor inigualável que faz cada mordida ser memorável.

							Pratos Contemporâneos
							Além dos grelhados, oferecemos uma seleção de pratos contemporâneos que refletem nossa busca constante por inovação culinária. Nossos chefs criam receitas inspiradas em tendências globais, utilizando ingredientes frescos e de alta qualidade. Desde massas artesanais até saladas gourmet e pratos vegetarianos, cada item do nosso menu é preparado com cuidado e criatividade.

							Petiscos e Entradas
							Para aqueles que desejam algo mais leve ou para compartilhar, nosso menu de petiscos e entradas é irresistível. Oferecemos opções variadas, desde clássicos como bruschettas e bolinhos de bacalhau, até criações exclusivas como nossos espetinhos gourmet e tábuas de frios finamente selecionados. Cada petisco é pensado para harmonizar perfeitamente com nossas bebidas e proporcionar uma experiência saborosa desde o início.

							Bebidas Exclusivas
							Nossa carta de bebidas é um capítulo à parte. No bar do Eduardu's Gastrobar, você encontrará uma seleção exclusiva de coquetéis artesanais, vinhos selecionados e cervejas especiais. Nossos mixologistas estão sempre prontos para surpreender com drinks inovadores, preparados com ingredientes frescos e técnicas refinadas. Além disso, oferecemos sucos naturais e bebidas não alcoólicas para todos os gostos.

							Sobremesas
							E para finalizar sua refeição de maneira perfeita, nossas sobremesas são um verdadeiro deleite. Desde clássicos como o pudim de leite até criações originais como nosso mousse de chocolate com toque de especiarias, cada sobremesa é feita com amor e atenção aos detalhes, proporcionando um final doce e inesquecível para sua experiência no Eduardu's Gastrobar.

							Venha descobrir as nossas especialidades e deixe-se surpreender pelos sabores únicos e pela qualidade que só o Eduardu's Gastrobar pode oferecer. Estamos ansiosos para recebê-lo!
						</span>							 	
	                     <button onclick="leiaMais_4()" id="btnLeiaMais_4" class="botao_ler_mais">Ler</button>
	                 </div>
	                <!--Ler_4 FIM-->

	                <div class="galeria_eduardus_gastrobar_2">
	 				<img src="../../imagens/templates/demo_1/img_1.png"></a>		
	 			    </div>

	                <!--Ler_5 INÍCIO-->				
					<div class="corpo_do_texto" id="horario">
						<div class="titulo_de_ler">Horário de Funcionamentos</div>			
						<span id="pontos_5"></span>
						<span id="maiss_5">							
							Nosso horário de atendimento foi cuidadosamente planejado para atender suas necessidades, seja para um almoço tranquilo, um jantar especial ou uma noite de celebração com amigos.<br>

							Segunda a Sexta-feira:<br>

							Almoço: 11:30h às 14:30h<br>
							Jantar: 18:30h às 22:30h<br>
							Sábado:<br>

							Almoço: 12:00h às 15:00h<br>
							Jantar: 18:00h às 23:00h<br>
							Domingo:<br>

							Almoço: 12:00h às 15:00h<br>
							Jantar: 18:00h às 21:00h<br>
							Happy Hour<br>
							De segunda a sexta-feira, das 17:00h às 21:00h, oferecemos um Happy Hour especial com preços promocionais em bebidas e petiscos. É o momento perfeito para relaxar após um dia de trabalho, encontrar-se com amigos e desfrutar do nosso ambiente acolhedor e moderno.<br>

							Reservas:<br>
							Para garantir sua mesa, especialmente em horários de pico e finais de semana, recomendamos fazer uma reserva com antecedência. Você pode fazer sua reserva pelo Whatsapp, por telefone ou pessoalmente.<br>

							Eventos Especiais<br>
							Estamos disponíveis para eventos especiais e celebrações privadas fora do nosso horário regular de atendimento. Entre em contato conosco para mais informações sobre como podemos ajudar a tornar sua ocasião especial ainda mais memorável.<br>

							Esperamos sua visita em breve! No Eduardu's Gastrobar, estamos sempre prontos para recebê-lo com um sorriso e oferecer uma experiência gastronômica inesquecível.
						</span>							 	
	                     <button onclick="leiaMais_5()" id="btnLeiaMais_5" class="botao_ler_mais">Abrir</button>
	                 </div>
	                <!--Ler_5 FIM-->

	                <div class="galeria_eduardus_gastrobar_2">
	 				<img src="../../imagens/templates/demo_1/img_2.png"></a>		
	 			    </div>

	              	<!--Ler_6 INÍCIO-->				
					<div class="corpo_do_texto" id="endereco">
						<div class="titulo_de_ler">Nosso Endereço</div>			
						<span id="pontos_6"></span>
						<span id="maiss_6">							
							Av. Brigadeiro Faria Lima, 2232<br>
									Jd.Paulistano<br>
									São Paulo-SP<br>
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.7604755484326!2d-46.69076612466947!3d-23.577044578789078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce576d78fdbdb5%3A0x5ffc6f2485c8ae!2sShopping%20Iguatemi%20S%C3%A3o%20Paulo!5e0!3m2!1spt-BR!2sbr!4v1723303195085!5m2!1spt-BR!2sbr" width="95%" height="250px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
								</iframe>
						</span>							 	
	                     <button onclick="leiaMais_6()" id="btnLeiaMais_6" class="botao_ler_mais">Abrir</button>

	                 </div>
	                <!--Ler_6 FIM-->

	                <div class="galeria_eduardus_gastrobar_2">
	 				<img src="../../imagens/templates/demo_1/img_3.png"></a>		
	 			    </div>

				<!--INÍCIO DO FOOTER-->
					<footer>
						<div class="fundo_do_footer">        
							<div class="ctrl_footer grid_para_3">
									Av.Brigadeiro<br>Faria Lima<br>2232<br>
									Jd.Paulistano<br>
									São Paulo-SP
							</div>
				
							<div class="ctrl_footer grid_para_3">					
									2025<br>Eduardu's Gastrobar<br>
									Todos os direitos reservados
							</div>								

							<div class="ctrl_footer grid_para_3">
								<a href="cardapioeduardus.html"> 
									acesse<br>nosso<br>cardapio<br>							
								</a>
							</div>
													
					    </div>
					</footer>	
				
					<script src="../../js/jquery.js"></script>
					<script src="../../js/menu_lateral.js"></script> 
					<script src="../../js/slide.js"></script> 
					<script src="../../js/script.js"></script> 	
					    
		</body>		    
</html>
